In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv('C:/Users/vggan/Desktop/Power_bi/cars_ds_final.csv')
df=df.drop(['Unnamed: 0'],axis=1)
df.rename(columns={'Make':'Maker'},inplace=True)
df.head(5)

,Maker,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
nc=['Ex-Showroom_Price','Displacement','Cylinders','Valves_Per_Cylinder','Fuel_Tank_Capacity','Height','Length','Width','Number_of_Airbags','Compression_Ratio','Gross_Vehicle_Weight','Kerb_Weight','City_Mileage','Front_Track','Rear_Track','Ground_Clearance','ARAI_Certified_Mileage']

In [5]:

for c in df.columns:
    if(c not in nc):
        df[c].fillna("N/A",inplace=True)
    else:
        df[c].fillna(0,inplace=True)
        
df.tail(5)

,Maker,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,Yes,N/A,N/A,N/A,Yes,N/A,N/A,N/A,N/A,N/A
1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS IV,...,Yes,Yes,N/A,N/A,Yes,N/A,N/A,N/A,N/A,N/A
1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS 6,...,Yes,Yes,N/A,N/A,Yes,N/A,N/A,N/A,N/A,N/A
1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,BS 6,...,N/A,N/A,N/A,N/A,Yes,N/A,N/A,N/A,N/A,N/A
1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,BS IV,...,Yes,N/A,N/A,Yes,Yes,N/A,N/A,N/A,N/A,N/A

In [6]:
for i in nc:
    for j in range(0,1276):
        c=re.sub("[^\d\.]","",str(df[i].iloc[j]))
        df[i].iloc[j]=re.sub("[.]","",c)
        #print(c)
df.head(5)

C:\Users\vggan\AppData\Local\Temp\ipykernel_4212\2692947120.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i].iloc[j]=re.sub("[.]","",c)

,Maker,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,Tata,Nano Genx,Xt,292667,624,20,20,RWD (Rear Wheel Drive),In-line,BS IV,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
1,Tata,Nano Genx,Xe,236447,624,20,20,RWD (Rear Wheel Drive),In-line,BS IV,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
2,Tata,Nano Genx,Emax Xm,296661,624,20,20,RWD (Rear Wheel Drive),In-line,BS IV,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
3,Tata,Nano Genx,Xta,334768,624,20,20,RWD (Rear Wheel Drive),In-line,BS IV,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
4,Tata,Nano Genx,Xm,272223,624,20,20,RWD (Rear Wheel Drive),In-line,BS IV,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A

In [38]:
df.to_csv("C:/Users/vggan/Desktop/Power_bi/Modified_cars.csv")

In [11]:
for j in range(0,1276):
    df[""].iloc[j]

TypeError: cannot convert the series to <class 'int'>